# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
# VSCode
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

#vendor
#vendor/imgui/*
!vendor/imgui/**.cpp
!vendor/imgui/**.h
!vendor/imgui/**.hpp

vendor/imgui/backends/*

!vendor/imgui/backends/imgui_impl_glfw.h
!vendor/imgui/backends/imgui_impl_opengl3.h
!vendor/imgui/backends/imgui_impl_opengl3_loader.h
!vendor/imgui/backends/imgui_impl_glfw.cpp
!vendor/imgui/backends/imgui_impl_opengl3.cpp

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# imgui file
*.ini

#
# Cmake
#
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
_log
.cmake

build/*
!build/README.txt

#
# Other
#

# this is a lot of qb files
SavedTerrain/*
terrain_output_data/*

# generated log folder, and files
logs
