[submodule "vendor/quill"]
	path = vendor/quill
	url = https://github.com/odygrd/quill.git
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/thread-pool"]
	path = vendor/thread-pool
	url = https://github.com/bshoshany/thread-pool
